<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Paul Kim</span>
                    <span class="role">Software Engineer<br>Web Developer</span>
                    <div class="objective">I'm currently an undergraduate at the University of California, San Diego majoring in Computer Science.
                    I'm interested in software engineering, web development, and user experience design. My goal's to obtain a position relevant to my interests
                    and use my job as a platform to develop technological solutions for ongoing problems.</div>
                </div>
            </div>
        </div>
    </div>
</header>
