<section id="about">
    <div class="container text-center">
        <div class="section-title">About</div>
        <div class="row">
            <div class="col-sm-4 education">
                <img src="img/education.jpg" class="img-responsive" alt="">
                <h3>Education</h3>
                <span>UC San Diego<br>Computer Science B.S.<br>GPA | 3.19<br>Expected Graduation | June 2017</span>
            </div>
            <div class="col-sm-4 skills">
                <img src="img/skills.jpeg" class="img-responsive" alt="">
                <h3>Skills</h3>
                <span>Languages | Java, C/C++, HTML, JavaScript, CSS<br>
                Tools | GitHub, Eclipse, Atom/Sublime, Bootstrap, jQuery, Node.js<br>
                User Experience | Prototyping, Storyboarding, Wireframing, Needfinding, A/B Testing, Information Architecture</span>
            </div>
            <div class="col-sm-4 experience">
                <img src="img/experience.jpeg" class="img-responsive" alt="">
                <h3>Experience</h3>
                <span>Intuit | Software Engineering in Quality Intern (Summer 2016)</span>
            </div>
        </div>
    </div>
</section>
<!-- Projects Grid Section -->
<section id="projects">
    <div class="container text-center">
        <div class="section-title">Projects</div>
        <div class="row">
            <div class="col-sm-4 project1">
                <a href="piggy.html" class="project-link">
                    <div class="img-container">
                        <img src="img/piggy.jpg" class="img-responsive images" id="piggy" alt="">
                    </div>
                    <div class="project-title">Piggy</div>
                    <button type="button" class="btn btn-default learn-button">Learn More</button>
                </a>
            </div>
            <div class="col-sm-4 project2">
                <a href="virtuevice.html" class="project-link">
                    <div class="img-container">
                        <img src="img/virtuevice.jpg" class="img-responsive" id="vv" alt="">
                    </div>
                    <div class="project-title">Virtue / Vice</div>
                    <button type="button" class="btn btn-default learn-button">Learn More</button>
                </a>
            </div>
            <div class="col-sm-4 project3">
                <a href="music-redesign.html" class="project-link">
                    <div class="img-container">
                        <img src="img/187a.png" class="img-responsive" id="final187a" alt="">
                    </div>
                    <div class="project-title">Music App Redesign</div>
                    <button type="button" class="btn btn-default learn-button">Learn More</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->
<section id="contact">
    <div class="container text-center">
        <div class="section-title">Contact</div>
        <div class="row">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> paulkimx94@gmail.com
          <br>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/paulkim94
          <br>
          <i class="fa fa-github-square" aria-hidden="true"></i> github.com/paulkim7
        </div>
    </div>
</section>
